/*----------------------------------*/
/*----------BASIC SETUP-------------*/
/*----------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}


/*----------------------------------*/
/*----------REUSABLE COMPONENT------*/
/*----------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

h1 {
  color: green;
  font-size: 50px;
  text-align: center;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

h1{
margin-top: 0;
margin-bottom: 20px;
color: #fff;
font-size: 240%;
font-weight: 300;
text-transform: uppercase;
letter-spacing: 1px;
word-spacing: 4px;
}


/*---BUTTONS---*/

.btn:link,
.btn:visited {
display: inline-block;
padding: 10px 30px;
font-weight: 300;
text-decoration: none;
border-radius: 200px;
transition: background-color 0.50s, border 0.5s, color 0.5s;
}

.btn-full:link,
.btn-full:visited {
background-color: #e67e22;
border: 1px solid #e67e22;
color: #fff;
margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
border: 1px solid #e67e22;
color: #e67e22;
}

.btn:hover,
.btn:active {
background-color: #cf6d10;
}

.btn-full:hover,
.btn-full:active {
border: 1px solid #e67e10;
}

.btn-ghost:hover,
.btn-ghost:active {
border: 1px solid #e67e22;
color: #e67e22;
}


/*----------------------------------*/
/*--------HEADER--------------------*/
/*----------------------------------*/

header{
background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/hero.jpg);
background-size: cover;
background-position: center;
height: 100vh;
}

.hero-text-box{
position: absolute;
width: 1140px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.logo{
  height: 100px;
  width: auto;
  float: left;
  margin-top: 10px;
}

.main-nav{
  float: right;
  list-style: none;
  margin-top: 50px;
}

.main-nav li{
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
